<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<script src="../plugins/echarts/echarts.js"></script>
<script src="../plugins/jquery/jquery-3.3.1.js"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));
		// 指定图表的配置项和数据
		var option = {
			title : {
				text : '温湿度实时监测',
				subtext : '基于DHT11传感器',
				x : 'center',
				align : 'right'
			},
			tooltip : {
				show : true,
				trigger : 'axis',
				axisPointer: {
                    type: 'cross',
                    animation: false,
                    label: {
                        backgroundColor: '#505765'
                    }
                }
			},
			legend : {
				data : [ '温度', '湿度' ],
				x : 'left'
			},
			dataZoom : [ {
				show : true,
				realtime : true,
				start : 99,
				end : 100
			}, {
				type : 'inside',
				realtime : true,
				start : 99,
				end : 100
			} ],
			// 图表工具
			toolbox : {
				show : true,
				feature : {
					mark : {
						show : true
					},
					dataZoom: {
	                    yAxisIndex: 'none'
	                },
					dataView : {
						show : true,
						readOnly : false
					},
					magicType : {
						show : true,
						type : [ 'bar', 'line' ]
					},
					restore : {
						show : true
					},
					saveAsImage : {
						show : true
					}
				}
			},
			calculable : true,
			xAxis : [ {
				type : 'category',
				boundaryGap : false,
				data : []
			} ],
			yAxis : [ {
				name : '温度', //Y轴提示
				type : 'value',
				axisLabel : {
					formatter : '{value} °C' //Y轴单位
				}
			}, {
				name : '湿度', //Y轴提示
				nameLocation: 'end',
				type : 'value',
				axisLabel : {
					formatter : '{value} %RH' //Y轴单位
				}
			} ],
			series : [ {
				name : "温度",
				type : "line",
				yAxisIndex: 0,
				data : [],
				smooth : true, //主题--线条平滑
				barWidth : "10", //柱子宽度
				symbol : 'emptycircle', //设置折线图中表示每个坐标点的符号；emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形   
				markPoint : {
					data : [ {
						type : 'max',
						name : '最大值'
					}, {
						type : 'min',
						name : '最小值'
					} ]
				},
				markLine : {
					data : [ {
						type : 'average',
						name : '平均值'
					} ]
				},
				//设置柱状图和节点的颜色
				itemStyle : {
					normal : {
						color : 'red',
						//设置折线的颜色
						lineStyle : {
							color : 'red'
						},
						//以下为柱状图顶部是否显示，显示位置和显示格式的设置了
						label : {
							show : true,
							textStyle : {
								color : 'OrangeRed'
							},
							position : 'botton',
							formatter : '\n{b}\n{c}（°C）'
						}
					}
				}
			}, {
				name : "湿度",
				type : "line",
				yAxisIndex: 1,
				data : [],
				smooth : true,
				barWidth : "70",
				symbol : 'emptycircle', //设置折线图中表示每个坐标点的符号；emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形   
				markPoint : {
					data : [ {
						type : 'max',
						name : '最大值'
					}, {
						type : 'min',
						name : '最小值'
					} ]
				},
				markLine : {
					data : [ {
						type : 'average',
						name : '平均值'
					} ]
				},
				//设置柱状图和节点的颜色
				itemStyle : {
					normal : {
						color : 'green',
						//设置折线的颜色
						lineStyle : {
							color : 'green'
						},
						//以下为柱状图顶部是否显示，显示位置和显示格式的设置了
						label : {
							show : true,
							textStyle : {
								color : 'LimeGreen'
							},
							position : 'botton',
							formatter : '\n{b}\n{c}（湿）'
						}
					}
				}
			} ]
		};
		// 使用刚指定的配置项和数据显示图表。        
		myChart.setOption(option);
		myChart.showLoading();

		function newData() {
			$.ajax({
				type : "post",
				async : true, //异步执行  
				url : "http://localhost:8090/plant/find.action",
				data : {
					plantId : 1,
					sensor : "DHT11"
				},
				dataType : "json", //返回数据形式为json  
				success : function(res) {
					if (res) {
						//option.legend.data = res.legend;
						option.xAxis[0].data = res.category;
						option.series[0].data = res.series[0].data;
						option.series[1].data = res.series[1].data;
						myChart.setOption(option);
						myChart.hideLoading();
					}
				}
			});
		}
		newData();	// 先加载一次数据
		// 设置定时器任务，实现数据的实时显示
		setInterval(newData, 5000);
	</script>
</body>
</html>